body{
    background-image: url("../images/bg.png")
}
.play-card{
    height: 200px;
    width: 150px;
}
#win-box{
    color: red;
}
#head{
    padding-left: 80px;
}
#new-game{
    margin: 10px 20px 0px 20px;
    height: 40px;
    border-style: groove;
    border-width: 1px;
    border-color: darkslategrey;
}