#kittens{
    height: 485px;
    width: 375px;
    position: relative;
    top: -491px;
    z-index: -1;
}
.play-card{
    height: 250px;
    width: 200px;
}
#win-box{
    position: absolute;
    padding-left: 120px;
    color: red;
}
#head{
    padding-left: 80px;
}